body{
	background-image: radial-gradient(#BBE5ED,#BFBCCB);
}

.box {
	border: 1px solid black;
	height:150px;
	width:150px;
	background-color: #BFBCCB;
  	position:absolute;	
}

h1{
	text-align:center;
	margin-bottom: 50px;
	font-size:90px;
	color:#784F41;
	font-family: sans-serif;
	text-shadow: 3px 2px #986C6A;
}

#box0{
	border-left-style: none;
	border-top-style: none;
}

#box1{
	margin-left: 150px;
	border-top-style: none;	
}

#box2{
	margin-left: 300px;
	border-top-style: none;
	border-right-style: none;
}

#box3{
	margin-top: 150px;
	border-left-style: none;
}

#box4{
	margin-left: 150px;
	margin-top: 150px;
}

#box5{
	margin-left: 300px;
	margin-top: 150px;
	border-right-style: none;
}

#box6{
	margin-top: 300px;
	border-left-style: none;
	border-bottom-style: none;
}

#box7{
	margin-left: 150px;
	margin-top: 300px;
	border-bottom-style: none;
}

#box8{
	margin-left: 300px;
	margin-top: 300px;
	border-bottom-style: none;
	border-right-style: none;
}

.box:hover{
	background-color: #B399A2;
}

div{
	color:black;
	text-align:center;
	font-size:100px;
}

#boxContainer{
	margin:auto;
	width:35%;
}

.column{
	color:red;\
	width:10%;
	float:left;
}