.box {
	border: 1px solid black;
	height:150px;
	width:150px;
	background-color: white;
  	position:absolute;	
}

h1{
	text-align:center;
	margin-bottom: 50px;
}

#box0{
	border-left-style: none;
	border-top-style: none;
}

#box1{
	margin-left: 150px;
	border-top-style: none;	
}

#box2{
	margin-left: 300px;
	border-top-style: none;
	border-right-style: none;
}

#box3{
	margin-top: 150px;
	border-left-style: none;
}

#box4{
	margin-left: 150px;
	margin-top: 150px;
}

#box5{
	margin-left: 300px;
	margin-top: 150px;
	border-right-style: none;
}

#box6{
	margin-top: 300px;
	border-left-style: none;
	border-bottom-style: none;
}

#box7{
	margin-left: 150px;
	margin-top: 300px;
	border-bottom-style: none;
}

#box8{
	margin-left: 300px;
	margin-top: 300px;
	border-bottom-style: none;
	border-right-style: none;
}

.box:hover{
	background-color: #add8e6;
}

div{
	color:black;
	text-align:center;
	font-size:100px;
}

#boxContainer{
	margin:auto;
	width:35%;
}

